In [1]:
import pandas as pd

df = pd.read_csv("../data/listings.csv")

df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,11508,Amazing Luxurious Apt-Palermo Soho,42762,Candela,NaN,Palermo,-34.581840,-58.424150,Entire home/apt,67518.0,3,44,2025-01-26,0.29,1,300,5,NaN
1,14222,"RELAX IN HAPPY HOUSE - PALERMO, BUENOS AIRES",87710233,María,NaN,Palermo,-34.586170,-58.410360,Entire home/apt,22375.0,7,123,2025-01-18,0.80,6,44,8,NaN
2,15074,ROOM WITH RIVER SIGHT,59338,Monica,NaN,Nuñez,-34.538920,-58.465990,Private room,NaN,29,0,NaN,NaN,1,0,0,NaN
3,16695,DUPLEX LOFT 2 - SAN TELMO,64880,Elbio Mariano,NaN,Monserrat,-34.614390,-58.376110,Entire home/apt,52511.0,2,45,2019-11-30,0.27,9,365,0,NaN
4,20062,PENTHOUSE /Terrace & pool /City views /2bedrooms,75891,Sergio,NaN,Palermo,-34.581848,-58.441605,Entire home/apt,113360.0,2,330,2025-01-17,1.84,4,209,25,NaN

In [2]:
print("Dataset size:", df.shape)

print("\nColumns:")
print(df.columns.tolist())

print("\nData types:")
print(df.dtypes)

print("\nNull values:")
print(df.isnull().sum())

print("\nGeneral statistics:")
print(df.describe(include='all'))

df[[
    "price",
    "neighbourhood",
    "room_type",
    "availability_365",
    "number_of_reviews",
    "minimum_nights"
]].head()

Dataset size: (35172, 18)

Columns:
['id', 'name', 'host_id', 'host_name', 'neighbourhood_group', 'neighbourhood', 'latitude', 'longitude', 'room_type', 'price', 'minimum_nights', 'number_of_reviews', 'last_review', 'reviews_per_month', 'calculated_host_listings_count', 'availability_365', 'number_of_reviews_ltm', 'license']

Data types:
id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group               float64
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                             float64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
number_of_reviews_ltm               int64
license                            object
dtype: object

Null values:
id                                    0
name                                  0
host_id                               0
host_name                             6
neighbourhood_group               35172
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                              3574
minimum_nights                        0
number_of_reviews                     0
last_review                        5760
reviews_per_month                  5760
calculated_host_listings_count        0
availability_365                      0
number_of_reviews_ltm                 0
license                           34782
dtype: int64

General statistics:
                  id                          name       host_id host_name  \
count   3.517200e+04                         35172  3.517200e+04     35166
unique           NaN                         32872           NaN      4344
top              NaN  Departamento en Buenos Aires           NaN  Federico
freq             NaN                            98           NaN       533
mean    7.117880e+17                           NaN  2.143294e+08       NaN
std     4.840974e+17                           NaN  2.027420e+08       NaN
min     1.150800e+04                           NaN  1.342600e+04       NaN
25%     4.719776e+07                           NaN  3.070016e+07       NaN
50%     8.875662e+17                           NaN  1.421004e+08       NaN
75%     1.095206e+18                           NaN  4.298024e+08       NaN
max     1.344330e+18                           NaN  6.754917e+08       NaN

        neighbourhood_group neighbourhood      latitude     longitude  \
count                   0.0         35172  35172.000000  35172.000000
unique                  NaN            48           NaN           NaN
top                     NaN       Palermo           NaN           NaN
freq                    NaN         11410           NaN           NaN
mean                    NaN           NaN    -34.591554    -58.417289
std                     NaN           NaN      0.018257      0.030169
min                     NaN           NaN    -34.693700    -58.530890
25%                     NaN           NaN    -34.602670    -58.437050
50%                     NaN           NaN    -34.590890    -58.418914
75%                     NaN           NaN    -34.581047    -58.392114
max                     NaN           NaN    -34.534980    -58.355403

              room_type         price  minimum_nights  number_of_reviews  \
count             35172  3.159800e+04    35172.000000       35172.000000
unique                4           NaN             NaN                NaN
top     Entire home/apt           NaN             NaN                NaN
freq              32083           NaN             NaN                NaN
mean                NaN  9.548776e+04        6.159871          28.027579
std                 NaN  1.402656e+06       26.072002          45.151666
min                 NaN  2.600000e+02        1.000000           0.000000
25%                 NaN  2.971100e+04        1.000000           2.000000
50%                 NaN  3.990800e+04        2.000000          11.000000
75%                 NaN  5.776200e+04        4.000000          36.000000
max                 NaN  1.050217e+08     1000.000000         992.000000

       last_review  reviews_per_month  calculated_host_listings_count  \
count        29412       29412.000000                    35172.000000
unique        1757                NaN                             NaN
top     2025-01-26                NaN                             NaN
freq           598                NaN                             NaN
mean           NaN           1.325920                       15.646878
std            NaN           1.336446                       34.108688
min            NaN           0.010000                        1.000000
25%            NaN           0.360000                        1.000000
50%            NaN           0.930000                        2.000000
75%            NaN           1.910000                       12.000000
max            NaN          26.080000                      222.000000

        availability_365  number_of_reviews_ltm           license
count       35172.000000           35172.000000               390
unique               NaN                    NaN               365
top                  NaN                    NaN  RL-2021-14800886
freq                 NaN                    NaN                 8
mean          206.609320               9.500625               NaN
std           126.189102              13.991379               NaN
min             0.000000               0.000000               NaN
25%            88.000000               0.000000               NaN
50%           231.000000               4.000000               NaN
75%           333.000000              13.000000               NaN
max           365.000000             340.000000               NaN

,price,neighbourhood,room_type,availability_365,number_of_reviews,minimum_nights
0,67518.0,Palermo,Entire home/apt,300,44,3
1,22375.0,Palermo,Entire home/apt,44,123,7
2,NaN,Nuñez,Private room,0,0,29
3,52511.0,Monserrat,Entire home/apt,365,45,2
4,113360.0,Palermo,Entire home/apt,209,330,2

In [3]:
df_clean = df.copy()

df_clean["price"] = (
    df_clean["price"]
    .astype(str)
    .str.replace("$", "", regex=False)
    .str.replace(",", "", regex=False)
    .astype(float)
)

df_clean = df_clean[df_clean["price"] <= 1000]

df_clean = df_clean.dropna(subset=["neighbourhood", "room_type"])

df_clean.describe()

,id,host_id,neighbourhood_group,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
count,3.000000e+00,3.000000e+00,0.0,3.000000,3.000000,3.000000,3.000000,3.000000,2.000000,3.0,3.000000,3.0
mean,1.824426e+07,5.664294e+07,NaN,-34.598480,-58.427160,503.333333,303.666667,2.666667,0.045000,1.0,121.666667,0.0
std,1.520006e+07,8.261768e+07,NaN,0.027034,0.043852,212.210587,379.908322,3.055050,0.035355,0.0,204.676167,0.0
min,2.165343e+06,6.869264e+06,NaN,-34.618850,-58.456420,260.000000,1.000000,0.000000,0.020000,1.0,2.000000,0.0
25%,1.117728e+07,8.958854e+06,NaN,-34.613815,-58.452370,430.000000,90.500000,1.000000,0.032500,1.0,3.500000,0.0
50%,2.018921e+07,1.104844e+07,NaN,-34.608780,-58.448320,600.000000,180.000000,2.000000,0.045000,1.0,5.000000,0.0
75%,2.628372e+07,8.152977e+07,NaN,-34.588295,-58.412530,625.000000,455.000000,4.000000,0.057500,1.0,181.500000,0.0
max,3.237824e+07,1.520111e+08,NaN,-34.567810,-58.376740,650.000000,730.000000,6.000000,0.070000,1.0,358.000000,0.0

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
import os

os.makedirs("figures", exist_ok=True)

plt.style.use("ggplot")
sns.set(font_scale=1.1)
plt.rcParams["figure.figsize"] = (10, 6)

sns.histplot(df_clean["price"], bins=50, kde=True)
plt.title("Distribution of accommodation prices in CABA")
plt.xlabel("Price (USD)")
plt.ylabel("Frequency")
plt.savefig("figures/distribution_prices.png")
plt.clf()

sns.countplot(data=df_clean, x="room_type", order=df_clean["room_type"].value_counts().index)
plt.title("Types of accommodation in CABA")
plt.xlabel("Room type")
plt.ylabel("Amount")
plt.savefig("figures/accommodation_type.png")
plt.clf()

avg_price_neigh = df_clean.groupby("neighbourhood")["price"].mean().sort_values(ascending=False)
avg_price_neigh.plot(kind="bar", figsize=(12, 6))
plt.title("Average price per neighborhood (CABA)")
plt.ylabel("Average price (USD)")
plt.xlabel("Neighborhood")
plt.xticks(rotation=90)
plt.tight_layout()
plt.savefig("figures/average_price_neighborhood.png")
plt.clf()


sns.scatterplot(data=df_clean, x="number_of_reviews", y="price", alpha=0.5)
plt.title("Relationship between price and number of reviews")
plt.xlabel("Number of reviews")
plt.ylabel("Price")
plt.savefig("figures/price_vs_reviews.png")
plt.clf()

sns.histplot(df_clean["availability_365"], bins=30, kde=True)
plt.title("Annual availability of accommodations")
plt.xlabel("Days available per year")
plt.ylabel("Frequency")
plt.savefig("figures/annual_availability.png")
plt.clf()